@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
  background-color: #D3011E;
}

.main-container {
  height: 100%;
  flex-direction: column;
  display: flex;
}

.logo {
  display: flex;
  height: 100px;
}

.logo img{
  width: 220px;
  margin: auto;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.content {
  display: flex;
  height: calc(100% - 120px);
}

.store-section {
  flex: 1;
  margin: 10px;
  border: 3px solid white;
  border-radius: 20px;
  flex-direction: column;
  overflow-x: auto;
  position: relative;
}

.store-section::-webkit-scrollbar {
  width: 20px;
}

.store-section::-webkit-scrollbar-track {
  background-color: transparent;
}
 
.store-section::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}


.title {
  height: 90px;
  color: white;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.loading {
  color: white;
  font-size: 38px;
  width: 100%;
  position: absolute;
  top: 50%;
  right: 50%;
  width: auto;
  transform: translate(50%, -50%);
}


@media screen and (max-width: 900px) {
  .content {
    flex-direction: column;
  }
}


